
body{
    background: #ECECEC;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Não-prefixed version, Chrome and Opera */
}

/*Serve para defenir o tamanho e o local do mapa temporario, o #é para o id do DIV */
#elementoNaTelaCheia {
    width: 96vw;
    height: 92vh;
    overflow: hidden;
    top: 7%; /* Ajusta a posição para baixo para cobrir o mapa */
    left: 1.9%;
    position: fixed;
    margin-top: -1.3vw; 
    outline: 10px solid #141223;
    border-radius: 9px;
    box-shadow: 0px 10px 50px 10px #141223;
    padding: 2px;
}

.lin {
  height: 1px;
  background-color:#141223; /* Adicione a cor desejada */
  border-radius: 2vw; /* Ajuste o raio desejado para pontas arredondadas */
  border-style: solid;
  border-width: 2px;
  align-items: center;
  justify-content: center;
  margin-top: 27vw;


}





/*------------------------------------------------ Botão das Ações ---------------------------------------------------------*/

body, .nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: relative;
  background-color: #D8D8D8;
  top: 20vw;
  padding: 5px;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 450px;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}

.menu li a:hover {
  color: #141223;
}

.nav input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 13px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #141223;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #141223;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}


