body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #ECECEC;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Não-prefixed version, Chrome and Opera */
}

/*-------------------------------------------- TimeLine Autocarros ------------------------------------------------------*/

/* Container da linha do tempo */
.timeline {
  margin: -1vw auto;
  padding: 1vw;
  margin-top: 10vw;
}

.card {
  position: relative;
  margin-right: 50vw;
  max-width: 20vw;
}

/* definindo o preenchimento com base em pares ou ímpares */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

.card::before {
  content: "";
  position: absolute;
  width: 51%;
  border: solid orangered;
}

.card:nth-child(odd)::before {
  left: 0px;
  top: -5px;
  bottom: -5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Configurando a parte superior e inferior */
@media only screen and (max-width: 400px) {
  .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

/* Definir a borda superior, inferior e direita */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 100;
}

.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 100;
}

.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 100;
}

/* Informação sobre a linha do tempo*/
.info {
  display: flex;
  flex-direction: column;
  background: #141223;
  color: #ECECEC;
  border-radius: 1vw;
  padding: 10px;
}

.title {
  color: orangered;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 1vw;
  height: 1vw;
  background: white;
  border-radius: 10vw;
  border: 3px solid orangered;
}

.card:nth-child(even) > .info > .title {
  text-align: right;
}

.card:nth-child(odd) > .info > .title::before {
  left: -46px;
}

.card:nth-child(even) > .info > .title::before {
  right: -45px;
}



/*----------------------------------------------- Mapa e Titulos --------------------------------------------------------*/

.titulo{
  font-size: 30px;
  margin-top: -208vw;
  margin-left: 12vw;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
}

.titulo2{
  font-size: 30px;
  margin-top: -198vw;
  margin-left: 12vw;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
}

p{
margin-left: 10vw;
}

/*----------------------------------------------- Botão de voltar --------------------------------------------------------*/

button {
  color: #090909;
  height: 3vw;
  width: 6vw;
  padding: 0.7em 1.7em;
  font-size: 10vw;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #fff;
}

#btnVoltar{
  top: 1.5vw;
  left: 1.5vw;
  position: fixed;
}
#btnVoltar:focus{
  outline: none; /* Remover contorno */
}

/*------------------------------------------------ Botão de salvar ---------------------------------------------------------*/
#checkboxInput {
  display: none;
}
.bookmark {
  cursor: pointer;
  background-color: teal;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.svgIcon path {
  stroke-dasharray: 200 0;
  stroke-dashoffset: 0;
  stroke: white;
  fill: #dddddd00;
  transition-delay: 0s;
  transition-duration: 0.5s;
}

#checkboxInput:checked ~ .svgIcon path {
  fill: white;
  animation: bookmark 0.5s linear;
  transition-delay: 0.5s;
}

@keyframes bookmark {
  0% {
    stroke-dasharray: 0 200;
    stroke-dashoffset: 80;
  }
  100% {
    stroke-dasharray: 200 0;
  }
}


/*------------------------------------------------ Cards Buttons ---------------------------------------------------------*/

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 20px;  
}

.card2 {
  width: 280px;
  height: 150px;
  left: -2vw;
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0, 0.7) 5px 10px 50px, rgb(0, 0, 0, 0.7) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  overflow-x: auto;
}

.card2:hover{
  font-size: 23px;
  width: 300px;
  height: 170px;
  background: rgb(17, 4, 134);
  border-radius: 15px;
  box-shadow: rgb(0, 0, 0) 5px 10px 50px, rgb(0, 0, 0) -5px 0px 250px;
  display: flex;
  color: white;
  justify-content: center;
  position: relative;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  overflow-x: auto;
}

.numero {
  font-size: 45px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.texto {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
}

/*Forte --> Areeiro*/
.car{
  max-width: 100%;
  width: 220px;
  left: 47vw;
  top: 10vw;
  position: fixed;
  transition: all 0.3s ease-in-out;
}
.card2:hover .car{
  width: 245px;
  right: 37vw;
  top: 10vw;
  position:fixed;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

/*Areeiro --> Forte*/
.car2{
  max-width: 100%;
  width: 220px;
  left: 47vw;
  top: 23vw;
  position: fixed;
  transition: all 0.3s ease-in-out;
}
.card2:hover .car2{
  width: 245px;
  right: 37vw;
  top: 23vw;
  position:fixed;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}


